@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
*{font-family: 'Source Sans Pro', sans-serif;
	box-sizing:border-box}
a {color:#6cc091}
a:hover {text-decoration:none}
#wrapper {width:90%; margin:auto}
#header {text-align:center;
		margin-bottom:4em;
		margin-top:6em}
.fila {margin:0 0 -1px -2em;}
.box25, .box50, .box33, .box100{float:left;padding:0 0 0 2em;clear:none;}
.box50 {width:50%;
			margin-left:0;}
.box25 {width:25%;
			margin-left:0;}
hr {margin:0;clear:both}
.box33 {width:33.33333333333%;
			margin-left:0;}
#nav {background: #6cc091;
			top: 0;height: 44px;line-height: 44px;color: #fff;
			position:fixed;
			cursor: default;
			left: 0,0;
			width: 100%;
			z-index: 10001;}
.inner {margin: 0 auto; position:relative; max-width: 75em;}
.inner li { display: inline-block;padding: 0 0.75em;}
.li a { text-decoration: none}
/* h1,h2,h3,h4,h5,h6{color:#555; */
			/* font-weight:600; */
			/* line-height:1.5; */
			/* margin:0 0 1em 0;} */
.rosa {color:pink}
p {margin:0}
body {margin:0}
#nav a {color:white;text-decoration:none}
#nav ul{width:30%;float:right;margin-top:0;position:relative}
.fina {font-weight:200}
.inner>a {margin-left:5%}
/* Estilos para iconos fontawesome */
.iconlist {list-style-type:none}
.iconlist li {display:inline-block;
			float:left;
			padding: 0 4px
			;margin-left:0}
.iconlist li i{color:#6cc091;font-size:19px!important}
/* fin de estilos iconos */
.mencion {border-left:solid 1px grey;
		padding-left:2.5em;margin-left:0}
/* tabla con banda para los pares */
tr:nth-child(even){background-color:#cac6c6}
table {border-collapse:collapse;width:90%}
.num {text-align:right}
td,th {font-size:12px;text-align:left}
/* css para imagenes */
.imgBig{width:100%}
.thumbslist {list-style-type:none;padding-left:0;margin-left:-3px}
.thumbslist li {width:33.3333333%;float:left;padding-left:1%}
.thumbslist img {width:100%}
.imgparrafoizq {float:left;margin-right:4%}
.imgparrafoder {float:right;margin-left:4%}
.nopadding {padding:0}
blockquote {margin-left:0}
li {text-align:left}









